<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page_title}}</title>
    <style>body{font-family:Helvetica, serif; background-color:powderblue}
.f{float:left;text-align:left;max-width:30em;height:44em; overflow:hidden;margin-bottom:1em;margin-right:2em;background:#efefff;}
.fo td{vertical-align:top}
</style>
    </head>
<body>
    <h1> Trouble finding a movie? </h1>
    <h2>
        You came to the right spot! Just type in your lat and long points (limited to the US) and you will get the
        top 10 recommeneded movies to you based on the weather in your area!
    </h2>
    	{% if prompt %}
	<div class='prompt'>{{prompt}}</div>
	{% endif %}

        <form action = gresponse method = "post">
            <label for = "lat"> Please enter a latitude: </label>
            <input type = text id = "lat" name = "lat"/> <br/>
            <form action = gresponse method = get>
            <label for = "lng"> Please enter a longtitude: </label>
            <input type = text id = "lng" name = "lng"/> <br/>
            <input type = submit value="Find me movies!" name="gobtn"/></form>



</body>
</html>